.input {
	border-radius: 0.625em;
	padding: 1.125em 0.6875em;
	width: 100%;
	box-sizing: border-box;
	resize: none;
	border: 1px solid #5c5c5c;
	outline: none;
	position: relative;
	transition: all 0.25s ease;

	&_invalid {
		border: 1px solid rgba(255, 0, 0, 1);
		outline: 1px solid rgba(255, 0, 0, 1);
	}

	&::placeholder {
		color: rgba(191, 191, 191, 1);
	}

	&:hover,
	&:focus {
		box-shadow: 0 0 1em 0em rgba(241, 1, 189, 0.75);
	}
}
